html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
}

.polaroid > img {
  display: block;
  width: 100%;
  position: relative;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  position: absolute;
  bottom: 15px;
  left: 80px;
}

.polaroid: hover {
  transition:
}

figure:nth-child(1) {
  transform: rotate(-10deg) scale(1.5) translate(150px, 175px);
}

figure:nth-child(2) {
  transform: rotate(5deg) scale(1.5) translate(300px, 50px);
}

figure:nth-child(3) {
  transform: rotate(25deg) scale(1.5) translate(325px, -250px);

}
