html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
  position: absolute;
  transition: box-shadow .3s linear;
}

.polaroid > img {
  display: block;
  width: 100%;
  position: relative;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  position: absolute;
  bottom: 15px;
  left: 80px;
}

.polaroid:hover {
  transform: rotate(0deg);
  z-index: 50;
  box-shadow: 2px 5px 7px rgba(0, 0, 0, .5);
}

figure:nth-child(1) {
  transform: rotate(-10deg) scale(1);
  left: 19%;
  top: 104px;
}

figure:nth-child(2) {
  transform: rotate(5deg) scale(1);
  z-index: 30;
  left: 29%;
  top: 153px;
}

figure:nth-child(3) {
  transform: rotate(32deg) scale(1);
  left: 41%;
  top: 115px;
}
